*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vw;
    width: 100vw;
     display: flex;

     justify-content: center;
     align-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin; 
    display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-content: center;
     gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:20%;
    border: none;
    box-shadow: 0 0  1rem rgba(0,0,0,0.3);
    font-size: 5vmin;
    color:#b0413e;
    background-color: #ffffc7;
}

#reset-btn{
    padding: 2 rem;
    font-size:1.25 rem;
    background-color: #191913;
    color: #fff;
    border-radius: 20%;
    border: none;
}

#new-btn{
    padding: 2 rem;
    font-size:1.25 rem;
    background-color: #191913;
    color: #fff;
    border-radius: 10%;
    border: none;
}

#msg{
    color: #ffffc7;
    font-size: 8vmin;
}

.msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}